In [1]:
# membalik urutan baris dan kolom pada data frame
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.5

In [2]:
# persiapan data frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  6  3  7  2
1  6  5  2  3  7
2  8  7  1  1  9
3  5  1  6  7  7
4  7  2  2  3  5

In [3]:
# membalik urutan kolom
df.loc[:, ::-1]

   E  D  C  B  A
0  2  7  3  6  1
1  7  3  2  5  6
2  9  1  1  7  8
3  7  7  6  1  5
4  5  3  2  2  7

In [4]:
# membalik urutan baris
df.loc[::-1]

   A  B  C  D  E
4  7  2  2  3  5
3  5  1  6  7  7
2  8  7  1  1  9
1  6  5  2  3  7
0  1  6  3  7  2

In [5]:
# membalik urutan baris dan penyesuaian ulang index
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  7  2  2  3  5
1  5  1  6  7  7
2  8  7  1  1  9
3  6  5  2  3  7
4  1  6  3  7  2